.contenedor-form{
    text-align: center;  
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 100%;
  
  }
  
  .contenedor-form2{
    text-align: center; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    height: 290px;
    width: 100%;
    
  }

  .contenedor-cabezaa{
   height: 50px;
   display: flex;
   font-size: 120%;
   flex-direction: inherit; 
   
   
  
  }

  .contenedor-cabezaa ul a{
    text-decoration-line: none;
    color: white;
    font-size: 150%
    
   
   }

  .contenedor-cabezab{
    height: 70px;
    display: flex;
    font-size: 120%;
   flex-direction: inherit; 
   
   }

   .contenedor-cabezab ul a{
    text-decoration-line: none;
    color: white;
    font-size: 150%
    
   
   }
   
  

  .contenedor-cabeza2a{
    height: 50px;
    display: flex;
    flex-direction: column;
    font-size: 120%;
    
  }

  .contenedor-cabeza2a ul a{
  text-decoration-line: none;
  color: white;
  font-size: 150%
    
  }

  .contenedor-cabeza2b{
    height: 70px;
    display: flex;
    flex-direction: column;
    font-size: 120%;
    
  }

  .contenedor-cabeza2b ul a{
    text-decoration-line: none;
    color: white;
    font-size: 150%
      
    }


  
  .contenedor-inicio{

       display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
      
    

    }

  .contenedor-inicio ul {

      display: flex;
     text-align: center;
     justify-content: center;
     
     

  }

  .contenedor-inicio ul a {
    text-decoration-line: none;
    font-style: inherit;
    color: white;
    font-size: 300%

  }
  
 
  .contenedor-inicio2{

      display: flex;
     text-align: center;
     justify-content: center;
      align-items: center;
     
     
 } 

 .contenedor-inicio2 ul {

     display: flex;
     text-align: center;
     justify-content: center;

}

.contenedor-inicio2 ul a {
  text-decoration-line: none;
  font-style: inherit;
  color: white;
  font-size: 300%

}

 .contenedor-arriba{
   display: flex;
   text-align: center;
   align-items: center;
   width: 300px;
   height: 300px;
   justify-content: center;


 }

 h3{
 
  color: white;
  font-size: 150%


 }

 body{
background: url(../fondos/9e0f4d88200ee11b52188bf8177f897a.jpg)no-repeat fixed center center;
background-size: cover;

 }

  