.contenedor-form{
    text-align: center;  
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    color: rgb(20, 13, 59);
    font-size: 130%;
   
  
  }
  
  .contenedor-form2{
    text-align: center; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    height: 290px;
    width: 100%;
    color: rgb(20, 13, 59);
    font-size: 130%;
  
    
  }

  .contenedor-cabezaa{
   height: 200px;
   display: flex;
   font-size: 100%;
   justify-content: center;
   
   
  
  }

  .contenedor-cabezaa ul a{
    cursor: pointer;
    text-decoration-line: none;
    margin-right: 10px;
    padding: 10px;
    color: darkblue;
    font-size: 200%;
    background-color: lightblue;
    
    
   }
  
   .contenedor-cabezaa ul a:hover{
  
    color: rgb(0, 153, 255);
    background-color: white;
  
   }

   
  

  .contenedor-cabeza2a{
     height: 200px;
    display: flex;
    font-size: 100%;
    justify-content: center;
    
  }

  .contenedor-cabeza2a ul a{
    cursor: pointer;
    text-decoration-line: none;
    margin-right: 10px;
    padding: 10px;
    color: darkblue;
    font-size: 200%;
    background-color: lightblue;
    
    
   }
  
   .contenedor-cabeza2a ul a:hover{
  
    color: rgb(0, 153, 255);
    background-color: white;
  
   }

  
  .contenedor-inicio{

    display: flex;
   justify-content: center;
   font-size: 100%;
    width: 100%;
    height: 300px;
    
 
  }

  h3{
 
    color: white;
    font-size: 150%;
   
  }

  .contenedor-inicio2{

   display: flex;
   text-align: center;

  }

  .contenedor-inicio2 p{
    color: white;
    font-size: 150%;


  }



 .contenedor-arriba{
   display: flex;
   text-align: center;
   justify-content: center;
   
     
 }

 .contenedor-arriba ul{
   display: flex;
 }

 .contenedor-arriba ul a{
  cursor: pointer;
  text-decoration-line: none;
  margin-right: 10px;
  padding: 10px;
  color: rgb(0, 153, 255);
  font-size: 200%;
  background-color: white;
  
  
 }

 .contenedor-arriba ul a:hover{

  color: darkblue;
  background-color:lightblue;

 }

 body{
  background: url(../fondos/9e0f4d88200ee11b52188bf8177f897a.jpg)no-repeat fixed center center;
  background-size: cover;

 }

  